.box {
  $box: &;
  position: relative;

  a {
    display: block;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(14, 31, 53, 0.12);
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: none;

    #{ $box }__title {
      display: block;
      font-size: 24px;
      font-weight: bold;
      color: #15254a;
      margin-bottom: 12px;
    }

    #{ $box }__desc {
      color: #778fac;
      font-weight: normal;
      margin: 0;
    }
  }

  .button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    /*border-radius: 8px;
    padding: 12px;
    font-size: 18px;*/
  }
}